.apiKeysTable {
  width: 100%;
  border-collapse: collapse;
}

.apiKeysTable th,
.apiKeysTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid currentColor;
}

.apiKeysTable th {
  background-color: #0a0a0a27;
}

